{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-file-download',
]
%}

{{ attach_library('*****/file') }}


<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
  <file-download link="{{ file_url(content.field_download.0['#file'].uri.value) }}">
    <span slot="file-name">{{ content.field_label[0]['#context'].value }}</span>
  </file-download>
  {% endblock %}
</div>
