{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  {% block main %}
    <div>
      {{ title_prefix }}
      {{ title_suffix }}
      <paragraph-block>
          {% if label %}
            <span {{ title_attributes}} slot="title">{{ label }}</span>
          {% endif %}
        {% block content %}
          <span slot="content" {{ content_attributes.addClass('block__content') }}>{{ content }}</span>
        {% endblock %}
      </paragraph-block>
    </div>
  {% endblock %}
</div>
